<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>website blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container container mt-5">
    <h1>Website blog</h1>
    <div th:each="el : ${post}" class="alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p th:text="${el.views}"/>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
        <a th:href="'/blog/' + ${el.id} + '/remove'" class="btn btn-warning">Remove</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>